<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>

<div class="pure-menu pure-menu-open pure-menu-horizontal">

    <a href="/" class="pure-menu-heading">Modest Proposals</a>

    <ul>
      <li><a href="/authors/">Team</a></li>
      <li><a href="/posts/new">+ Post</a></li>
      <li><a href="/authors/new">+ Author</a></li>
    </ul>

</div>





