
<% include ../partials/header %>


<div class="pure-g adjust">
    <div class="pure-u-1-5"></div>
    <div class="pure-u-3-5"><p>


<h1>New Post</h1>

  <form action="/posts" method="post">
    <p>
    <label for="name">Title</label><br>
      <input type="text" name="post[title]" id="title" autofocus>
    </p>
    <p>
      <label for="body">Body</label><br>
      <textarea type="text" name="post[body]" id="body" cols="70" rows="10"></textarea>
    </p>
    <p> By<br>
    <% allAuthors.forEach(function(author,index){ %>
      <input type="radio" name="post[AuthorId]" id="AuthorId" value="<%=author.id %>"> <%= author.name %>
    <% }); %></p>

    <input type="submit" value="Post">
  </form>

    </p></div>
    <div class="pure-u-1-5"></div>

</div>

<% include ../partials/footer %>