<% include ../partials/header %>

<div class="pure-g adjust">
    <div class="pure-u-1-5"></div>
    <div class="pure-u-3-5"><p>

<h1><%= post.title%></h1>

<p><%= post.body%></p>

  <a href="/posts/<%= post.id %>/edit">Edit</a>

  <form action="/posts/<%= post.id %>?_method=delete" method="post">
    <input type="submit" value="Destroy">
  </form>

<% include ../partials/footer %>
