
<% include ../partials/header %>


<div class="pure-g adjust">
    <div class="pure-u-1-5"></div>
    <div class="pure-u-3-5"><p>


<h1>New Author</h1>


  <form action="/authors" method="post">
    <p>
    <label for="name">Name</label><br>
      <input type="text" name="author[name]" id="name" autofocus>
    </p>
    <p>
      <label for="body">Bio:</label><br>
      <input type="text" name="author[bio]" id="bio">
    </p>

    <input type="submit" value="Save">
  </form>

    </p></div>
    <div class="pure-u-1-5"></div>

</div>

<% include ../partials/footer %>